.input{
    
    background-color: black;
    border-style: none;
    outline: none;
    color: white;
}
.input-field{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 24px;
    background-color: black;
    border-style: none;
    outline: none;
    color: white;
}